.conf-name
  font-size: 26px
  font-weight: 700
.conf__info
  &-photo
    background-size: cover !important
    background-position: center !important
    background-repeat: no-repeat !important
    border-radius: 23px
  &-item
    height: 38px
    padding: 15px
    background-color: #5E83BA
    border-radius: 8px
    color: #fff
    padding-top: 4px
    font-size: 19px
  &-descr
    line-height: 30px
    font-size: 19px
  &-participants
    font-size: 19px
    span
      font-weight: 700
  &-btn
    width: 186px
    height: 50px !important
    font-weight: 700 !important
    color: #fff !important
    background: #091D36 !important
    border-radius: 100px !important
    font-size: 19px !important
    padding-top: 2px
    &:focus
      border-color: #5E83BA !important
      box-shadow: 0 0 0 2px #5E83BA !important
      border-width: 0px
.conf__author
  border-radius: 23px
  box-shadow: 0px 0px 11px rgb(0 0 0 / 30%)
  &-img
    background-size: cover !important
    background-position: center !important
    background-repeat: no-repeat !important
    border-radius: 12px
  &-text
    margin-left: 26px
    height: 147px
    display: flex
    flex-direction: column
    justify-content: center
  p
    font-size: 18px
.conf__explanation
  border-radius: 23px
  box-shadow: 0px 0px 11px rgb(0 0 0 / 30%)
  p
    font-size: 18px
.conf__info-details
  background: #fff
  box-shadow: 0px 0px 11px rgb(0 0 0 / 30%)
  border-radius: 23px
  padding: 26px

@media (max-width: 1186px) and (min-width: 640px)
  .conf-main
    width: 100% !important
    .conf__info
      flex-direction: column
      width: 600px
      margin: 26px auto !important
      margin-bottom: 0px !important
      .conf__info-details
        width: 600px !important
        margin-left: 0px !important
        margin-top: 29px
  .conf-name
    width: 600px
    display: block
    margin: 0 auto

@media (max-width: 639px) and (min-width: 450px)
  .conf-main
    width: 100% !important
    .conf__info
      flex-direction: column
      width: 100%
      margin: 26px auto !important
      margin-bottom: 0px !important
      .conf__info-details
        width: 100% !important
        margin-left: 0px !important
        margin-top: 29px
  .conf-name
    width: 100%
    display: block
    margin: 0 auto
  .conf__info-photo
    width: 100% !important
    height: 250px !important
  .conf__explanation
    width: 100% !important
    height: 100% !important
    padding-top: 20px !important
    padding-bottom: 20px !important

@media (max-width: 449px) and (min-width: 300px)
  .conf-main
    width: 100% !important
    .conf__info
      flex-direction: column
      width: 100%
      margin: 26px auto !important
      margin-bottom: 0px !important
      .conf__info-details
        width: 100% !important
        margin-left: 0px !important
        margin-top: 29px
  .conf-name
    width: 100%
    display: block
    margin: 0 auto
  .conf__info-photo
    width: 100% !important
    height: 200px !important
  .conf__explanation
    width: 100% !important
    height: 100% !important
    padding-top: 20px !important
    padding-bottom: 20px !important
  .conf__author-text
    margin-left: 0px !important
