.home-card
  flex-direction: column
  border: 13px solid #C2D2E9
  justify-content: space-evenly
  border-radius: 45px
  align-items: center
  background: #fff !important
  &:hover
    .home-card-time
      opacity: 1
  &-time
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: rgba(0, 0, 0, 0.5)
    align-items: center
    justify-content: center
    display: flex
    border-radius: 23px
    flex-direction: column
    color: #fff
    font-size: 18px
    opacity: 0
    transition: all .2s
    p
      &:nth-child(2)
        margin-top: 5px
  &-btn
    border-radius: 100%
    background: #C2D2E9
    width: 50px
    height: 50px
    justify-content: center
    align-items: center
    background: #C2D2E9
.center
  display: flex
  justify-content: center
  align-items: center

.home-link
  margin-top: 26px

.home-load
  width: 200px
  height: 50px
  background: #091d36
  color: #fff
  font-size: 18px
  font-weight: 700
  border-radius: 100px
  padding-top: 2px
  padding-left: 4px

.home__card-photo
  background-position: center !important
  background-repeat: no-repeat !important
  background-size: cover !important

.home__navMobile
  display: none

.home__nav-modal
  display: none

@media (max-width: 1186px) and (min-width: 891px)
  .mainContainer
    width: 100% !important
  .home
    width: 100% !important
  .home__baner-text
    width: 57% !important
  .home__baner-title
    font-size: 40px !important
  .home__baner-descr
    font-size: 25px !important
  .home__cardsContainer
    grid-template-columns: repeat(3, 32%) !important
  .home-card
    width: 100% !important

@media (max-width: 890px) and (min-width: 758px)
  .mainContainer
    width: 100% !important
  .home
    width: 100% !important
  .home__baner-text
    width: 57% !important
  .home__baner-title
    font-size: 35px !important
  .home__baner-descr
    font-size: 25px !important
  .home__baner-photo
    width: 200px !important
  .home__baner-container
    height: 250px !important
  .home__cardsContainer
    grid-template-columns: repeat(2, 250px) !important
  .home-card
    width: 100% !important

@media (max-width: 757px) and (min-width: 601px)
  .mainContainer
    width: 100% !important
    margin-top: 16px !important
    margin-bottom: 16px !important
  .home
    width: 100% !important
  .home__baner-text
    width: 57% !important
  .home__baner-title
    font-size: 35px !important
  .home__baner-descr
    font-size: 25px !important
  .home__baner-photo
    width: 200px !important
  .home__baner-container
    height: 250px !important
  .mainNavigation
    display: none !important
  .home__container
    margin-left: 0px !important
  .home__navMobile
    margin-bottom: 16px
    display: flex
    justify-content: space-between
    align-items: center
    img
      width: 38px
    div
      width: 38px
      height: 38px
      cursor: pointer
      div
        width: 100%
        height: 7px
        background: #3a4e7a
        margin-top: 5px
        border-radius: 5px
        &:nth-child(1)
          margin-top: 0px
  .home__cardsContainer
    grid-template-columns: repeat(2, 250px) !important
  .home-card
    width: 100% !important
  .home__nav-modal
    display: flex !important
    width: 100%
    height: 100vh
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-color: rgba(28, 77, 123, 0.5)
    flex-direction: column
    justify-content: center
    align-items: center
    a
      color: #fff
      text-shadow: 0px 0px 3px black
      font-size: 30px
      font-weight: bold
      &:nth-child(2)
        margin-top: 20px

@media (max-width: 600px) and (min-width: 300px)
  .mainContainer
    width: 100% !important
    margin-top: 16px !important
  .home
    width: 100% !important
  .home__baner-text
    width: 100% !important
    margin-bottom: 30px
    text-align: center
  .home__baner-title
    font-size: 35px !important
  .home__baner-descr
    font-size: 25px !important
  .home__baner-photo
    width: 200px !important
  .home__baner-container
    height: 100% !important
    padding: 20px
  .mainNavigation
    display: none !important
  .home__container
    margin-left: 0px !important
  .home__navMobile
    margin-bottom: 16px
    display: flex
    justify-content: space-between
    align-items: center
    img
      width: 38px
    div
      width: 38px
      height: 38px
      cursor: pointer
      div
        width: 100%
        height: 7px
        background: #3a4e7a
        margin-top: 5px
        border-radius: 5px
        &:nth-child(1)
          margin-top: 0px
  .home__banner-box
    flex-direction: column
  .home__cardsContainer
    grid-template-columns: repeat(1, 250px) !important
    justify-content: center
  .home-card
    width: 100% !important
  .home__nav-modal
    display: flex !important
    width: 100%
    height: 100vh
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-color: rgba(28, 77, 123, 0.5)
    flex-direction: column
    justify-content: center
    align-items: center
    a
      color: #fff
      font-size: 30px
      text-shadow: 0px 0px 3px black
      font-weight: bold
      &:nth-child(2)
        margin-top: 20px

@media (max-width: 356px)
  .footer-text
    font-size: 15px !important
  .home__nav-modal
    display: flex !important
    width: 100%
    height: 100vh
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-color: rgba(28, 77, 123, 0.5)
    flex-direction: column
    justify-content: center
    align-items: center
    a
      color: #fff
      text-shadow: 0px 0px 3px black
      font-size: 30px
      font-weight: bold
      &:nth-child(2)
        margin-top: 20px
