.register
  font-family: 'Montserrat', sans-serif !important
  margin: 0 auto
  label
    font-size: 20px
    font-weight: 500
  input
    margin-top: 10px
    margin-bottom: 10px
    height: 50px
    background: #C2D2E9
    border-radius: 12px
    font-family: 'Montserrat', sans-serif !important
    font-size: 20px
    outline: none
    &:focus
      border-color: #091D36
      box-shadow: 0 0 0 1px #091D36
  button
    width: 190px
    height: 50px
    border-radius: 100px
    color: #fff
    font-weight: 700
    font-size: 20px
    margin-top: 10px
    background: #091D36
  p
    font-size: 20px
    cursor: pointer
    font-weight: 500
    margin-top: 10px
  &-descr
    cursor: pointer
    font-weight: 500
    text-align: center
    width: 800px
    font-size: 20px
    display: block
    margin: 50px auto
    cursor: default
